[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cft"]
	path = cft
	url = https://github.com/earthlab/cft-cran
[submodule "leri"]
	path = leri
	url = https://github.com/earthlab/leri
[submodule "rslurm"]
	path = rslurm
	url = https://github.com/earthlab/rslurm
